:root {
    --primary-brand: rgba(77, 90, 229, 1);
    --pressed-state: rgba(64, 75, 191, 1);
    --dark: rgba(46, 47, 66, 1);
    --success: rgba(49, 208, 170, 1);
    --text: rgba(67, 68, 85, 1);
    --white-text: rgba(255, 255, 255, 1);
    --subtle-text: rgba(142, 143, 153, 1);
    --accent: rgba(231, 233, 252, 1);
    --light: rgba(244, 244, 253, 1);
    --modal-overlay: rgba(46, 47, 66, 0.4);
    --hero-background: rgba(46, 47, 66, 0.7);
    --white-background: rgba(255, 255, 255, 1);
    --modal-background: rgba(252, 252, 252, 1);
}
/* footer */
.footer{
background-color: rgba(67, 68, 85, 1);
}